{% extends 'base.html.twig' %}
{% block title %} {% if editmode %}Mise à jour du Projet{% else %}Nouveau projet{% endif %} {% endblock %}
{% form_theme formProject 'bootstrap_4_layout.html.twig' %}
{% block body %}

<h1 class="mt-5">
{% if editmode %}
Modification du projet
{% else %}
Ajout d'un projet
{% endif %}
</h1>
{{ form_start(formProject)}}

{{ form_row(formProject.Title, {'attr': {
                            'placeholder': 'Titre du projet'
}})}}

{{ form_row(formProject.Description, {'attr': {
                            'placeholder': 'Description'
}})}}

{{ form_row(formProject.Image, {'attr': {
                            'placeholder': 'Image'
}})}}

{{ form_row(formProject.Github, {'attr': {
                            'placeholder': 'GitHub du projet'
}})}}

{{ form_row(formProject.Weblink, {'attr': {
                            'placeholder': 'Url du projet'
}})}}
<div>
{{ form_label(formProject.categories, 'Choisissez une ou plusieurs catégories') }}
{{ form_widget(formProject.categories) }}
</div>
<button type="submit" class="btn btn-primary mt-5">
{% if editmode %}
Enregistrer
{% else %}
Ajouter le projet
{% endif %}
</button>

{{ form_end(formProject)}}

{% endblock %}
