{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

<div class="row my-5 justify-content-center">
    <h1>Mes projets</h1>
</div>
<div class="row">
{% for project in projects %}
    <div class="col-12 col-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">
            <a href="{{ path('project_show', {'id': project.id}) }}">
            {{project.title}}
            </a>
            </div>
            <div class="card-body" style="text-align:center">
                <img src={{project.image}} class="img-fluid" style="text-align:center; height:150px">
                {# <p class="card-text">{{project.description}}.</p> #}
                <a href={{project.github}} target="blanck"><button type="button" class="btn btn-primary">GitHub</button></a>
                <a href={{project.weblink}} target="blanck"><button type="button" class="btn btn-primary">Web</button></a>
                
            </div>
        </div>
    </div>
    </div>
{% endfor %}
</div>


{% endblock %}