{% extends 'base.html.twig' %}

{% block title %}{{project.title}}{% endblock %}

{% block body %}

<div class="row my-5 justify-content-center">
    <h1>{{project.title}}</h1>
</div>
<div class="row justify-content-center" style="flex-wrap:wrap ; flex-direction:column">

    <div style="width:100%;text-align:center">
    <img src={{ asset('uploads/Images/' ~ project.image)}} style="width:50%; height:auto">
    </div>
    <div>
    <p>{{project.description|raw }}</p>
    </div>
    <div style="width:100%;text-align:center">
    <a href={{project.github}} target="blanck"><button type="button" class="btn btn-primary">GitHub</button></a>
    <a href={{project.weblink}} target="blanck"><button type="button" class="btn btn-primary">Web</button></a>
    </div>
    <div class="mt-3">
    <p>Technologies : 
        {% for categorie in project.categories %}
            {{ categorie.name }} 
        {% endfor %}
    </p>
    </div>
</div>
</div>

{% endblock %}